@using NetChelt.Models
@model NetChelt.Models.ListaContext

@{
    ViewData["Title"] = "Cheltuieli";
}

<h1>@ViewData["Title"]</h1>
<p>v-ați logat cu succes cu: <br />id=<strong>@UserModel.Id</strong> cu <br />username=<strong>@UserModel.UserName</strong> și <br />parola=@UserModel.Password</p>

<table>
@foreach (var x in ListaContext.ListaToDo)
    {
        <tr><td>@x.Id</td><td>@x.Denumire</td><td>@x.Prioritate</td><td>@x.Valoare</td><td>@x.Date</td><td>@x.Perioada<td></td></tr>
    }
</table>